<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LR Livraria</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>LR Livraria</h1>
        <div class="search">
            <div class="search-input">
                <label>Pesquisa Geral
                    <input type="text" id="query" placeholder="Machado de Assis Dom Casmurro">
                </label>
                <button onclick="searchBooks()" class="button">
                    <iconify-icon icon="iconamoon:search" style="color: white;" width="16"></iconify-icon>
                </button>
            </div>
        </div>
        <div class="separator">
            <p>Ou</p>
        </div>
        <div class="advanced-search">
            <div class="search-input">
                <label for="title">Título <input type="text" id="title" placeholder="Dom Casmurro"></label>

                <label for="author">Autor <input type="text" id="author" placeholder="Machado de Assis"></label>

                <button onclick="searchBooksWithFilters()" class="button">
                    <iconify-icon icon="iconamoon:search" style="color: white;" width="16"></iconify-icon>
                </button>
            </div>
        </div>
        </div>
    </header>
    <main>
        <div class="sorting-options">
            <label for="sorting">Ordenação
                <select onchange="reSort()" id="sorting">
                    <option value="">Padrão</option>
                    <option value="new">Mais Recente</option>
                    <option value="rating">Melhor Classificado</option>
                </select>
            </label>

            <button class="button" onclick="clearResults()">Limpar Resultado</button>
        </div>
        <div id="noResults" class="noResults">
            <p>Nenhum Livro encontrado
            <p>
        </div>

        <div id="result" class="books-container">

        </div>
    </main>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <div class="book-info">
                <div class="book-cover">
                    <img id="book-cover" src="" alt="">
                </div>
                <div class="book-details">
                    <h2 id="book-title"></h2>
                    <p id="book-author"></p>
                    <p id="book-first-publish-year"></p>
                    <p id="book-rating"></p>
                    <p id="book-pages"></p>
                    <p id="book-published"></p>
                    <p id="book-isbn"></p>
                    <p id="book-language"></p>
                </div>
            </div>
        </div>
    </div>

    <footer class="pagination" id="pagination"></footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>
